.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}
h2 {
  color: #181818;
  font-family: "DINPro-CondensedBold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 50px;
}
.title {
  width: 100%;
  text-align: center;
}
.title h2 {
  color: #181818;
  font-family: "DINPro-CondensedBold", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 30px;
}
.title p {
  margin-top: 30px;
  color: #181818;
  font-family: "DINPro-CondensedBold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.btn {
  display: inline-block;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #181818;
  color: #ffffff;
  font-family: "DINPro-CondensedBold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.5px;
}
.tel-btn {
  font-family: "DINPro-CondensedBold", sans-serif !important;
}
