@main-color: #181818;
@light-color: #969696;
@second-color: #f6d500;
@arial: "Arial", sans-serif;
@dinpro: "DINPro-CondensedBold", sans-serif;

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  color: @main-color;
  font-family: @dinpro;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
}

.title {
  width: 100%;
  text-align: center;
  h2 {
    color: @main-color;
    font-family: @dinpro;
    font-size: 44px;
    font-weight: 700;
    line-height: 30px;
  }
  p {
    margin-top: 30px;
    color: @main-color;
    font-family: @dinpro;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
  }
}
.btn {
  display: inline-block;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #181818;
  color: #ffffff;
  font-family: @dinpro;
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.5px;
}
.tel-btn {
  font-family: @dinpro !important;
}